body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 50px;
}

.container {
    display: grid;
    gap: 35px;
    margin-bottom: 30px;
}

.fixed {
    
    grid-template-columns: 200px 200px 200px;
}

.flexible {
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    background-color: rgb(65, 178, 67);
    padding: 20px;
    border: 5px dotted rgb(126, 70, 70);
    text-align: center;
    font-size: 20px;
}
