body {
    font-family: Arial;
    padding: 20px;
    background-color: bisque;
}

.container {
    display: grid;
    grid-template-rows: 100px auto;
    width: 300px;
    gap: 10px;
}

.box {
    background-color: rgb(144, 167, 238);
    border: 2px solid black;
    padding: 10px;
}
