body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;

}

.item {
    background-color: rgb(200, 66, 215);
    border: 2px solid rgb(21, 206, 182);
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
