body {
    font-family: Arial;
    padding: 20px;
    background-color: darkcyan;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px auto 60px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    gap: 10px;
}

.header {
    grid-area: header;
    background-color: lightblue;
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightgreen;
    padding: 20px;
}

.content {
    grid-area: content;
    background-color: lightyellow;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: lightcoral;
    padding: 20px;
}
