body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.box {
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    font-size: 25px;
}
