body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: aquamarine;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    background-color: lightsalmon;
    padding: 20px;
    border: 5px double black;
    text-align: center;
    font-size: 18px;
}

