body {
    font-family: Arial;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.box {
    background-color: lightseagreen;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
